{{ define "form_full_rsvp" }}
  <form action="/rsvp" method="post">
    <label for="guest-code" class="form-label">Your unique guest code:</label><br>
    <input type="text" id="guest-code" name="guest-code"><br>
{{ template "form_rsvp_attendance_options" . }}
    <input type="submit" value="Submit">
  </form>
{{ end }}
