{{ define "form_full_rsvp" }}
  <form action="/rsvp" method="post">
    <label for="invitee-code" class="form-label">Your unique invitee code:</label><br>
    <input type="text" id="invitee-code" name="invitee-code"><br>
{{ template "form_rsvp_attendance_options" . }}
    <input type="submit" value="Submit">
  </form>
{{ end }}
