{{ define "form_rsvp_attendance_options" }}
    <label for="attendance" class="form-label">Attendance:</label><br>
    <input type="radio" id="yes" name="attendance" value="true" required/>
	<label for="yes">I will be there! </label>
	<br>
    <input type="radio" id="no" name="attendance" value="false" />
	<label for="no">I'm afraid I can't make it.</label>
	<br>
{{ end }}
