{{ template "header" . }}
<div class="sub-container">
  <h3>So you need to change your RSVP, we hope you can still make it!</h3>
  {{ template "form_partial_rsvp" . }}
</div>
{{ template "footer" . }}
