{{ template "header" . }}
<div class="sub-container">
  <h3>Please fill in the form below to RSVP by<wbr> Saturday 30th November:</h3>
{{ template "form_full_rsvp" . }}
</div>
{{ template "footer" . }}
