{{ template "header" . }}
  <h4 class="red-warning">Sorry your invite code is invalid. Please try again.</h4>
  <h3>Please fill in the form below to rsvp:</h3>
{{ template "form_full_rsvp" . }}
{{ template "footer" . }}
