{{ template "header" . }}
<div class="sub-container">
  <p>We're thrilled that you can make it!</p>
  <br>
  <h4 class="red-warning">Ooops! You have entered invalid details.</h4>
  <h3>Please fill in your details below so that we can keep in touch and satisfy any dietary requirements:</h3>
{{ template "form_guest_details" . }}
</div>
{{ template "footer" . }}
