{{ template "header" . }}
  <p>We're thrilled that you can make it!</p>
  <h3>Please fill in your details below so that we can keep in touch and satisfy any dietary requirements:</h3>
{{ template "form_guest_details" . }}
{{ template "footer" . }}
